@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Exorts Compressed";
  src:
    url("/fonts/exorts-compressed/chesterfield.woff2") format("woff2"),
    url("/fonts/exorts-compressed/chesterfield.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.section {
  @apply py-24 md:py-32 lg:py-40;
}

.line {
  @apply overflow-hidden;
}

.word {
  @apply translate-y-full;
}

.clip-inset-0 {
  clip-path: inset(0 0 0 0);
}

.clip-inset-50 {
  clip-path: inset(50% 0 50% 0);
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 50s linear infinite;
    display: inline-flex;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

/* ------ under construction ------ */
@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}
